#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#containerLogin {
  margin: 0 auto;
  text-align: center;
  width: 100vh;
  min-height: 93vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-link.active {
  background-color: rgb(246, 231, 216);
  color: black !important;
  border-radius: 5px;
  padding-left: 3%;
}

#navbarPrincipal {
  background-color: rgb(255, 209, 82);
}

.nav-link {
  color: rgb(0, 0, 0) !important;
}

#togglerButtonNavbar {
color: black;
}


#divContainerTextoYProfileHome{
 max-width: 720px;
 margin-top: 7%;
}

#imageProfileHome {
  max-width: 250px;
  max-height: 250px;
}

#divComponentesHome {
  margin-top: 5%;
}

#imageProfileHome {
  max-width: 250px;
  max-height: 250px;
}

#divComponentesHome {
  margin-top: 5%;
}
#divImageProfile{
  max-width: 250px;
  max-height: 250px;
}
#imageProfileHome {
  width: 100%;
  height: auto;
}

#divComponentesHome {
  margin-top: 5%;
}

/* Clases generales */
.max-w-720 {
  max-width: 720px;
}

.min-height-vh {
  height: 93vh;
}

.roundedImageCircle {
  border-radius: 15%;
}




