#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #010B40;
}

#containerLogin {
  margin: 0 auto;
  text-align: center;
  width: 100vh;
  min-height: 93vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-link.active {
  background-color: #f88230;
  color: black !important;
  border-radius: 5px;
  padding-left: 3%;
}

#navbarPrincipal {
  background-color: #007C00;
}

.nav-link {
  color: rgb(0, 0, 0) !important;
}

#togglerButtonNavbar {
color: black;
}

#imageProfileHome {
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  height: auto;
}

#divImageProfile{
  max-width: 250px;
  max-height: 250px;
}

#imgCardAnuncio{
  max-width: 400px;
  max-width: 400px;
}

/* Clases generales */
.max-w-720 {
  max-width: 720px;
}

.min-height-vh {
  min-height: 92.5vh;

}

.roundedImageCircle {
  border-radius: 15%;
}

.bg-azul {
  background-color: #09055C !important;
  color: white !important;
}

.allura {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}

.fontsize-big {
  font-size: 3rem;
}

.bg-orange {
  background-color: #f88230;
}

.bg-green {
  background-color: #208720;
}

.square-250 {
  width: 107px;
  height: 107px;
  object-fit: cover;
}

.imgNavbar {
  width: 2.5rem;
  height: auto;
  object-fit: cover;
}

.imgOnBoarding {
  min-width: 300px;

}


